node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
src/fakeData
package-lock.json
src/tools/handleErrors.ts
tsconfig.json
.TODO
standards-in-styles.md
yarn.lock
.env
src/screens/Calculations/response.js
src/screens/Calculations/response.json
